body{
    background-color: rgb(156, 255, 255);
    /* margin: auto 25vw ; */
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;

}

#estilo{
    background-color: rgb(153, 255, 0); 
    border: 2px solid blue;
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    border-radius: 10px;
    box-shadow:     3px 5px 2px rgb(221, 0, 255);
    height: 400px;
    
}
.center{
    width: 150px;
    margin: 10px 0 0 0;
    padding: 10px 0 20px 0;
    /* border: 2px solid red; */
    
}

button{
    width: 100px;
    height: 50px;
    display: inline;
    margin: 10px 80px;
}
#tipoTriangulo{
    background-color: blue;
    color: white;
}
#limpaTriangulo{
    background-color: red;
    color: white;
}

