body{
    background-color: rgb(156, 255, 255);   
    margin: auto ; 
    /* border: 2px solid blue; */
    display: flex; 
    flex-direction: column;
    text-align: center;
    padding: 30px;

}
/* TODO
1 Criar uma caixa para envolver os inputs botões e reseultado
2 Dar cor, sombra e tamanho pra tudo 

*/