body{
    min-height: 100vh;
}

/* .migalha-de-pao{
    height: 50px;
} */
.migalha-de-pao>ul{
    height: 100%;
    display: flex;
    margin-inline-start:1.5rem;
}
.migalha-de-pao li{
    display: inline-flex;
    height: 100%;
    align-items: center; 
}
.migalha-de-pao a{
    display: inline-flex;
    /* align-items:center; */
    height: 100%;   
    padding: 0 1.2rem;
    font-size: 1rem;
    text-decoration: none;
    text-transform: capitalize;
    color: #777;
    
}

.migalha-de-pao li:not(:last-child):after{
    content: '➡';
    
}
.migalha-de-pao a{
    color: blue;
    height: inherit;
    /* margin-top:6vh; */
   
}
.migalha-de-pao a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.migalha-de-pao li:not(:last-child)>a{
    color: rgb(0, 0, 0);   
}
.migalha-de-pao ::after{
   color: red;
}
.migalha-de-pao li:last-child>a{
    background-color: rgb(0, 96, 164);   
    color: salmon ;
    border-radius: 10px;
    height: inherit;
    /* margin-top: 6vh; */
    
} 
.migalha-de-pao li:last-child>a:hover{
    cursor: crosshair;
    text-decoration: none;
}


 #logo{
    display: flex;
    justify-content: left;
    align-items: center;
    text-transform: capitalize;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    margin-left: 2vw;
    font-weight: 700;
    flex-shrink: 50%;
}

.circulo{
    display:flex;
}
#circulo{
    margin-top: 25px;
    height: 40px;
    width: 40px;
    border-top: 3px solid  rgb(195, 255, 0);
    border-bottom: 3px solid rgb(136, 0, 255);
    animation: circulo 1ms linear infinite;
    border-radius: 50%;
}
@keyframes circulo {
    to{
        transform: rotate(360deg);
    }
}

a{ 
    cursor: initial;  /* retira estilos de cursor*/
    text-decoration: none; 
}
