/* tamanhos de telas
mobile: até 400px
tablets: até 768px
TVs: de 1921px ao infinito



*/

/* mobile */
@media screen and (max-width: 600px) {
  /* ------------  GERAL ------------ */
  body {
    margin-bottom: 200px;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
  }
  .titulo-pagina,h2 {
    width: 100px;
    font-size: 2rem;
    transform: translateX(-100px);
  }
  header {
   position: absolute;
   transform: translateX(200%);
   background-color: white;
  }
  .migalha-de-pao {
    display: none;
    position: absolute;
    top: -380px;
    right: -300px;
    width: inherit;
    order: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .migalha-de-pao li:not(:last-child):after {
    content: "";
  }
  ul {
    display: flex;
    flex-flow: column;
    
  }
  li a {
    width: 50px;
    background-color:rgba(0, 0, 0, 0.279);
    border-radius: 10px;
    text-align: center;
    /* padding: 20px; */
  }
  li:last-child{
    /* width: 50px; */
    background-color:rgba(0, 0, 0, 0.279);
    border-radius: 10px;
    text-align: center;
  }
  li
   {
    /* width: 30px; */
    /* height: 10px; */
    color: white;
    margin: 5px;
  }
  .migalha-de-pao li:last-child > a {
    background-color: transparent;
    color: black;
  }
  a{
    padding:500px;
  }
 
  p {
    font-size: 1rem;
  }
  form {
    display: flex;
    flex-flow: column wrap;
  }
  .container-tabela {
    display: flex;
    flex-flow: column wrap;
  }
  button {
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
  }
  input {
    padding: 20px;
    margin: 10px 0;
    border-radius: 30px;
    border: 3px solid black;
    outline: none;
  }
  input[type="number"]::-webkit-inner-spin-button {
    display: none;
  }

  .migalha-de-pao {
    width: 300px;
  }

  /* -------------------- INDEX --------------- */
  section {
    width: 80%;
    display: flex;
    flex-flow: column wrap;
  }
  h1 {
    margin: 9px 1px 30px;
    width: 210px;
    font-size: 2rem;
    text-transform: capitalize;
    line-height: 30px;
  }
  p {
    font-size: clamp(12px, 1.6rem, 3rem);
    width: 210px;
  }
  .container-input{
    margin-left: 30px;
    width: 150px; 
  }
  .btn-responsividade{
    display: inline-block;
    position: absolute;
    top: 0;
    order: 10;
    right: 30px;
    background-color: grey;
  }
  ul:last-child{

  }

/* menu hamburguer */

  .mostrar{
animation: mostrar 100ms ease-in-out forwards;
display: block;
  }
  @keyframes mostrar {
    from{
      transform: translateX(200%);
    }
    to{
      transform: translateX(-200%);
    }
  }
}

/* tablets */
@media screen and (max-width: 768px) {
}
/* TVs */
@media screen and (min-width: 1921px) {
}
  